.card {
    background: white;
    margin: 0.5rem 0 1rem 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.25s;
    border-radius: 2px;
}

.card-title {
    line-height: 48px;
    font-size: 24px;
    font-weight: 300;
}

.card-image {
    position: relative;

    img {
        border-radius: 2px 2px 0 0;
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
    }

    .card-title {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
    }
}

.card-content {
    border-radius: 0 0 2px 2px;
    padding: 20px;
}

.card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;

    a {
        margin-right: 20px;
        transition: color .3s ease;
        text-transform: uppercase;
    }
}
