$lighter-brown: rgb(240, 220, 175);
$light-brown: 	rgb(220, 190, 140);
$medium-brown: 	rgb(205, 165, 90);
$dark-brown: 	rgb(130, 80,  40);
$darker-brown: 	rgb(65,  40,  20);

$old-gold:		rgb(170, 150, 130);

$medium-blue:	rgb(40,  120, 180);
$darker-blue:	rgb(5,   23,  45);

$medium-green:	rgb(60,  115, 20);