.flex-container {
    display: flex;
    flex-wrap: wrap;

    &.direction-row    { flex-direction: row; }
    &.direction-column { flex-direction: column; }

    &.justify-start         { justify-content: flex-start; }
    &.justify-center        { justify-content: center; }
    &.justify-end           { justify-content: flex-end; }
    &.justify-space-between { justify-content: space-between; }
    &.justify-space-around  { justify-content: space-around; }

    &.align-center   { align-items: center; }
    &.align-start    { align-items: flex-start; }
    &.align-end      { align-items: flex-end; }
    &.align-stretch  { align-items: stretch; }
    &.align-baseline { align-items: baseline; }

    &.align-content-start         { align-content: flex-start; }
    &.align-content-center        { align-content: center; }
    &.align-content-end           { align-content: flex-end; }
    &.align-content-space-between { align-content: space-between; }
    &.align-content-space-around  { align-content: space-around; }
    &.align-content-stretch       { align-content: stretch; }
}

.flex {
    flex: 1 1 auto;

    &.align-center   { align-self: center; }
    &.align-start    { align-self: flex-start; }
    &.align-end      { align-self: flex-end; }
    &.align-stretch  { align-self: stretch; }
    &.align-baseline { align-self: baseline; }
}
