<html>
    <body>
        <div ng-app='test' ng-controller='testCtrl'>
            <h1>Fire Emblem</h1>

            <div style="float:left; border-right: 1px solid #666;">
                <h2 style="margin: 10px 30px;">Characters</h2>
                <ul ng-repeat="val in characters">
                    <li>{{val.name}}</li>
                </ul>
            </div>

            <div style="float:left; border-right: 1px solid #666;">
                <h2 style="margin: 10px 30px;">Skills</h2>
                <ul ng-repeat="val in skills">
                    <li>{{val.name}}</li>
                </ul>
            </div>

            <div style="float:left;">
                <h2 style="margin: 10px 30px;">Classes</h2>
                <ul ng-repeat="val in classes">
                    <li>{{val.name}}</li>
                </ul>
            </div>
        </div>

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>

        <script src="bower_components/firebase/firebase.js"></script>
        <script src="bower_components/angularfire/dist/angularfire.min.js"></script>

        <script src="app.js"></script>

        <script src="services/firebase.js"></script>
        <script src="services/characters.js"></script>
        <script src="services/skills.js"></script>
        <script src="services/classes.js"></script>

        <script src="testCtrl.js"></script>
    </body>
</html>