<h1 ng-show="character.name">
  {{character.name}}
  <span ng-show="character.initialClass">- {{character.initialClass}}</span>
</h1>

<div ng-show="character.classSet">
  <h2>Class set</h2>
  <ul>
    <li ng-repeat="class in character.classSet">
      {{class}}
    </li>
  </ul>
</div>

<div ng-show="character.baseStats">
  <h2>Base stats</h2>
  <ul>
    <li ng-repeat="(key, val) in character.baseStats">
      {{key}}: {{val}}
      <span ng-if="character.modifiers[key]">+ {{character.modifiers[key]}}</span>
    </li>
  </ul>
</div>

<div ng-show="character.growthRates">
  <h2>Growth rates</h2>
  <ul>
    <li ng-repeat="(key, val) in character.growthRates">
      {{key}}: {{val * 100 | number: 0}}%
    </li>
  </ul>
</div>

<!-- <div ng-show="character.modifiers">
  <h2>Modifiers</h2>
  <ul>
    <li ng-repeat="(key, val) in character.modifiers">
      {{key}}: {{val}}
    </li>
  </ul>
</div> -->

<div ng-show="character.children">
  <h2>Children</h2>
  <ul>
    <li ng-repeat="child in character.children">
      {{child}}
    </li>
  </ul>
</div>

<div ng-show="character.marriable">
  <h2>Can marry</h2>
  <ul>
    <li ng-repeat="partner in character.marriable">
      {{partner}}
    </li>
  </ul>
</div>

<div ng-show="character.supports">
  <h2>Supports</h2>
  <ul>
    <li ng-repeat="support in character.supports">
      {{support}}
    </li>
  </ul>
</div>
