<div>
    <img src="/assets/img/characters/{{character.name}}Icon.png" alt="" />
</div>

<h1 ng-show="character.name">
    {{character.name}}
    <span ng-show="character.initialClass">- {{character.initialClass}}</span>
</h1>

<div ng-show="classSet">
    <h2>Class set</h2>
    <ul>
        <li ng-repeat="class in classSet"
            ui-sref="root.classes.details({ name: class })">
            {{class}}
        </li>
    </ul>
</div>

<div ng-show="skillSet">
    <h2>Skill set</h2>
    <ul>
        <li ng-repeat="skill in skillSet"
            ui-sref="root.skills.details({ name: skill.name })">
            {{skill.name}}
        </li>
    </ul>
</div>

<div ng-show="character.baseStats">
    <h2>Base stats</h2>
    <ul>
        <li ng-repeat="(key, val) in character.baseStats">
            {{key}}: {{val}}
            <span ng-if="character.modifiers[key]">+ {{character.modifiers[key]}}</span>
        </li>
    </ul>
</div>

<div ng-show="character.growthRates">
    <h2>Growth rates</h2>
    <ul>
        <li ng-repeat="(key, val) in character.growthRates">
            {{key}}: {{val * 100 | number: 0}}%
        </li>
    </ul>
</div>

<!-- <div ng-show="character.modifiers">
    <h2>Modifiers</h2>
    <ul>
        <li ng-repeat="(key, val) in character.modifiers">
            {{key}}: {{val}}
        </li>
    </ul>
</div> -->

<div ng-show="character.children">
    <h2>Children</h2>
    <ul>
        <li ng-repeat="child in character.children"
            ui-sref=".({name:child})">
            {{child}}
        </li>
    </ul>
</div>

<div ng-show="character.marriable">
    <h2>Can marry</h2>
    <ul>
        <li ng-repeat="partner in character.marriable"
            ui-sref=".({name:partner})">
            {{partner}}
        </li>
    </ul>
</div>

<div ng-show="character.supports">
    <h2>Supports</h2>
    <ul>
        <li ng-repeat="support in character.supports"
            ui-sref=".({name:support})">
            {{support}}
        </li>
    </ul>
</div>
