<div class="character">
    <div>
        <img class="portrait" src="/assets/img/characters/{{character.name}}Icon.png" alt="" />
    </div>

    <div class="character-header">
        <h1 ng-show="character.name">
            <span class="name">{{character.name}}</span>
        </h1>

        <span class="class" ng-show="character.initialClass">
            {{character.initialClass}}
        </span>
    </div>

    <div class="class-set" ng-show="classSet">
        <h2>Class set</h2>
        <ul>
            <li ng-repeat="class in classSet"
                ui-sref="root.classes.details({ name: class })">
                {{class}}
            </li>
        </ul>
    </div>

    <div ng-show="skillSet">
        <h2>Skill set</h2>
        <ul>
            <li ng-repeat="skill in skillSet"
                ui-sref="root.skills.details({ name: skill.name })">
                {{skill.name}}
            </li>
        </ul>
    </div>

    <div ng-show="character.baseStats">
        <h2>Base stats</h2>
        <attributes data="character.baseStats"></attributes>
    </div>

    <div ng-show="character.modifiers">
        <h2>Modifiers</h2>
        <attributes data="character.modifiers"></attributes>
    </div>

    <div ng-show="character.growthRates">
        <h2>Growth rates</h2>
        <attributes data="character.growthRates" percentage="true"></attributes>
    </div>

    <h2>Children</h2>
    <div class="flex-container justify-start align-content-space-around" ng-show="character.children">
        <character name="character" ng-repeat="character in character.children"></character>
    </div>

    <h2>Can marry</h2>
    <div class="flex-container justify-start align-content-space-around" ng-show="character.marriable">
        <character name="character" ng-repeat="character in character.marriable"></character>
    </div>

    <h2>Supports</h2>
    <div class="flex-container justify-start align-content-space-around" ng-show="character.supports">
        <character name="character" ng-repeat="character in character.supports"></character>
    </div>
</div>
